@CHARSET "UTF-8";


#pie{
	clear: both;
	text-align: center;
	padding: 20px;
	border-top: 2px solid #999999;
	text-align: center;
}

#cabecera{
	background: #8080ff;
	border: 1px solid #999999;
	padding:40px;
	text-align: center;
	text-shadow: rgb(150,150,150) 3px 3px 1px;
}

#menu{
	background:#5ccccc;
	padding:5px 15px;
	
}

#menu li{
	display:inline-block;
	list-style: none;
	padding:5px;
	font: bold 14px verdana, sans-serif;
	
}



.main {
	background:#f2f2f2;
}

.color1 {
	background: #34495e;
	color:#fff;
}

aside {
	background:#c0392b;
	color:#fff;
}

footer {
	background:#16a085;
	color:#fff;
}
