@CHARSET "UTF-8";
body {
	margin-top: 80px;
	
	font-family: 'Bubbler One', sans-serif;
}

p {
	color: #777;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 300;
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

ul li {
	margin-bottom: 5px;
}

/* *************************************
* *************** Header ***************
* ************************************ */
#main-header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #fff;
	z-index: 99;

    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.95);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#11000000, endColorstr=#11000000)";


	-moz-box-shadow: 0 1px 5px #999;
	-webkit-box-shadow: 0 1px 5px #999;
	box-shadow: 0 1px 5px #999;
}
